# requirements.txt
numpy==1.21.6
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
scipy==1.9.3
pandas==1.5.3
matplotlib==3.6.3
pyyaml==6.0
networkx==2.8.8

# PyTorch (CUDA 11.3)
torch==1.12.1+cu113
torchvision==0.13.1+cu113
--find-links https://download.pytorch.org/whl/torch_stable.html

# Detectron2 ayrı kurulacak